# Neon Auth environment variables
NEXT_PUBLIC_STACK_PROJECT_ID=
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=
STACK_SECRET_SERVER_KEY=

# Database owner connection string
DATABASE_URL=

# Google Recaptcha Site Key
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS_JSON=
# Google OAuth 2.0 credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
